{% extends "templates/base.html" %}
{% block content %}
<script src="/js/webcam.min.js"></script>
<article>
    <header>
        Upload a Face
    </header>
    <section>
        <h2>Upload</h2>
        <form method="post" id="image-upload-form" action="{{ upload_url  }}" enctype="multipart/form-data">
         <input type="file" name="face-file" id="face-file">
         <input type="submit" value="Upload Face">
        </form>
    </section>
    <section>
        <h2>Use my Webcam <a href="#" id="enable-camera"><img src="/img/right-arrow.png" style="height: 1em;" /></a></h2>
        <div id="camera-container" style="width:320px; height:240px;">
            <div id="my_camera" style="width:320px; height:240px; border: 1px solid; display: block;" data-camera-attached="false">
            </div>
            <button value="Take a picture" id="snapshot" style="display: block; margin: 0.5em 0 0 auto;">Take a Picture</button>
        </div>
        <br />
    </section>
</article>

{% endblock %}
